#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentContainer{
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1;
    overflow: hidden;
}
.list-group-item{
    background: transparent;
    color: whitesmoke;
}
.list-group-item.active{
    background: #1b1445;
}
